/* header container starts here */

.header {
  width: 100%;
}

/* navbar start */
.navbar {
  width: 90%;
  gap: 20px;
}

.navbar__title {
  gap: 10px;
}
/* navbar end */


/* banner start */
.banner {
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  margin-top: 40px;
  gap: 30px;
}

.banner__images {
  width: 100%;
}

.banner__images img {
  width: 100%;
  height: auto;
}

.banner__content {
  width: 100%;
  padding: 50px 5px;
}

.banner__content-title {
  width: 60%;
  font-size: 1.5rem;
}

.banner__content-heading {
  width: 60%;
  font-size: 2rem;
}

.banner__content-description {
  width: 60%;
}

.banner__content-description p {
  color: rgb(83, 76, 100);
  font-size: 1.1rem;
}

.banner__content-description i {
  font-size: 1.1rem;
}

.banner__buttons {
  width: 100%;
  gap: 10px;
}

.banner__btn--sign-in,
.banner__btn--rogue {
  padding: 5px 10px;
  font-size: 0.8rem;
}

.banner__btn--sign-in {
  width: 100px;
  height: 45px;
}

.banner__btn--rogue {
  width: 140px;
  height: 45px;
}
/* banner end */

/* header container ends here */

/* funny--video start */
.funny--video-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.funny--video__content {
  width: 100%;
  margin: 0 auto;
}

.funny--video-title {
  width: 100%;
  height: auto;
  font-size: 2rem;
  line-height: 40px;
}

.funny--video-description {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.funny--video__cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

/* funny--video end */