/* navbar start */
/* header container starts here */

.header {
  width: 100%;
}

.navbar {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.navbar__title {
  margin-top: 5px;
  margin-bottom: 15px;
  gap: 10px;
}

.navbar__logo {
  width: 25%;
}

.navbar__list {
  display: flex;
  flex-direction: column;
}

.navbar__link,
.navbar__item {
  color: rgb(60, 53, 79);
  font-size: 1rem;
  text-align: center;
}

.navbar__follow-us {
  width: 100%;
  height: 43px;
  margin-top: 20px;
}

.navbar__icon-youtube,
.navbar__icon-tiktok {
  font-size: 1.2rem;
}
/* navbar end */

/* banner start */
.banner {
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 40px;
  gap: 30px;
}

.banner__images {
  width: 100%;
}

.banner__images img {
  width: 100%;
  height: auto;
}

.banner__content {
  width: 100%;
  padding: 50px 5px;
}

.banner__content-title {
  width: 60%;
  font-size: 1.5rem;
}

.banner__content-heading {
  width: 60%;
  font-size: 2rem;
}

.banner__content-description {
  width: 60%;
}

.banner__content-description p {
  color: rgb(83, 76, 100);
  font-size: 1rem;
}

.banner__content-description i {
  font-size: 1rem;
}

.banner__buttons {
  width: 100%;
  gap: 10px;
}

.banner__btn--sign-in,
.banner__btn--rogue {
  padding: 5px 10px;
  font-size: 0.8rem;
}

.banner__btn--sign-in {
  width: 90px;
  height: 40px;
}

.banner__btn--rogue {
  width: 120px;
  height: 40px;
}
/* banner end */

/* header container ends here */

/* main container starts here */

/* funny--video start */
.funny--video-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.funny--video__content {
  width: 100%;
  margin: 0 auto;
}

.funny--video-title {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  line-height: 40px;
}

.funny--video-description {
  width: 100%;
  height: auto;
  font-size: 0.9rem;
  line-height: 20px;
}

.funny--video__cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

.funny--video__card {
  width: 100%;
}

.funny--video__card img {
  width: 100%;
  height: auto;
}

.funny--video__card p {
  width: 100%;
  height: auto;
  font-size: 0.9rem;
  text-align: center;
}
/* funny--video end */

/* play--instantly start */
.play--instantly-section {
  width: 80%;
  margin-left: 0vw;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.play--instantly__content {
  width: 100%;
  margin-top: 0px;
}

.play--instantly-title {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
}

.play--instantly-description {
  width: 100%;
  height: auto;
  width: 90%;
  font-size: 0.9rem;
  margin: 0 auto;
  margin-top: 10px;
}

.play--instantly__images {
  width: 80%;
}

.large__img {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.small__img {
  width: 30%;
  height: auto;
  bottom: 5vw;
  right: 50vw;
}
/* play--instantly end */

/* play--games start */
.play--games-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}

.play--games__content {
  width: 100%;
  margin-top: 0px;
}

.play--games-title {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
}
.play--games-description {
  width: 100%;
  height: auto;
  font-size: 0.9rem;
  margin: 0 auto;
  margin-top: 20px;
}

.play--games__images {
  width: 80%;
  height: auto;
  margin-bottom: 30px;
}

.play--games-big-image {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
}

.play--games-small-image {
  position: absolute;
  width: 30%;
  height: auto;
  bottom: -5vw;
  left: 50vw;
}
/* play--instantly end */

/* carrier-section start */
.carrier-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.carrier__content {
  width: 100%;
  padding: 25px;
}

.carrier__content-title {
  width: 100%;
  height: auto;
  font-size: 1.5rem;
}

.carrier__content-description {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  margin-top: 10px;
}

.carrier__job {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

.carrier__job p {
  font-size: 0.9rem;
}

.carrier__position-btn {
  width: 170px;
  height: 40px;
  padding: 10px;
  font-size: 0.9rem;
}

.carrier__image {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
}
/* carrier-section end */
