@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common body styles */
body {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  /* border: 1px solid red; */
}

/* common styles */

/* header container starts here */

.header {
  width: 100%;
}

.navbar {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
}

.navbar__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar__brand {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 53px;
  text-align: center;
}

.navbar__brand-highlight {
  color: rgb(255, 66, 165);
}

.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar__link,
.navbar__item {
  color: rgb(60, 53, 79);
  font-size: 1rem;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
}

.navbar__item {
  list-style: none;
}

.navbar__link {
  text-decoration: none;
}

.navbar__follow-us {
  width: 210px;
  height: 43px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar__icon-youtube,
.navbar__icon-tiktok {
  font-size: 1.5rem;
  margin-right: 5px;
  cursor: pointer;
}

.navbar__icon-youtube {
  color: red;
}
/* navbar end */

/* banner start */
.banner {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}

.banner__content {
  width: 50%;
  background-image: url(../images/Group_14.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.banner__content-title {
  width: 60%;
  color: rgb(11, 2, 35);
  font-size: 2rem;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.banner__content-heading {
  width: 60%;
  color: rgb(199, 79, 205);
  font-size: 3rem;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: left;
}

.banner__content-description {
  width: 60%;
  margin-top: 20px;
}

.banner__content-description p {
  color: rgb(83, 76, 100);
  font-size: 1rem;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  margin-bottom: 10px;
  text-align: left;
}

.banner__content-description i {
  font-size: 1.2rem;
  margin-right: 5px;
}

.banner__icon--play {
  color: rgb(255, 66, 165);
}

.banner__icon--download {
  color: rgb(255, 66, 165);
}

.banner__icon--group {
  color: rgb(255, 66, 165);
}

.banner__buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.banner__btn--sign-in,
.banner__btn--rogue {
  padding: 13px 24px;
  border-radius: 48px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.banner__btn--sign-in {
  width: 120px;
  height: 50px;
  background-color: rgb(255, 66, 165);
}

.banner__btn--rogue {
  width: 140px;
  height: 50px;
  background: rgb(78, 197, 247);
}

.banner__images {
  width: 45%;
}

.banner__images img {
  width: 100%;
  height: auto;
}
/* banner end */

/* header container ends here */

/* main container starts here */

/* funny--video start */
.funny--video-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.funny--video__content {
  width: 60%;
  margin: 0 auto;
}

.funny--video-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
}

.funny--video-title-highlight {
  color: rgb(194, 80, 208);
}

.funny--video-description {
  color: rgb(83, 76, 100);
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}

.funny--video__cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.funny--video__card {
  width: 100%;
  border-radius: 16px;
}

.funny--video__card img {
  width: 100%;
  height: auto;
}

.funny--video__card p {
  width: 100%;
  height: auto;
  color: rgb(83, 76, 100);
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.funny--video__card--3 {
  position: relative;
}

.funny--video__card--3 img {
  filter: brightness(50%);
}

.funny--video__card--3 i {
  color: white;
  font-size: 1.2rem;
}

.card__play-btn p {
  color: rgb(255, 66, 165);
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}

.card__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
/* funny--video end */

/* play--instantly start */
.play--instantly-section {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.play--instantly__content {
  width: 35%;
  margin-top: 25px;
}

.play--instantly-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

.play--instantly-title-highlight {
  color: rgb(223, 76, 193);
}

.play--instantly-description {
  width: 90%;
  color: rgb(83, 76, 100);
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}

.play--instantly__images {
  width: 60%;
  position: relative;
  display: inline-block;
}

.large__img {
  width: 100%;
  height: 400px;
  display: block;
  margin-bottom: 50px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 8px;
}

.large__img img {
  width: 100%;
  object-fit: cover;
}

.small__img {
  position: absolute;
  width: 30%;
  height: 150px;
  bottom: 2vw;
  right: 32vw;
}

.small__img img {
  width: 100%;
}
/* play--instantly end */

/* play--games start */
.play--games-section {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

.play--games__images {
  width: 60%;
  height: auto;
  position: relative;
  display: inline-block;
}

.play--games-big-image {
  width: 100%;
  height: 400px;
  display: block;
  margin-bottom: 50px;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 8px;
}

.play--games-big-image img {
  width: 100%;
  object-fit: cover;
}

.play--games-small-image {
  position: absolute;
  width: 30%;
  height: 150px;
  bottom: 2vw;
  left: 30vw;
}

.play--games-small-image img {
  width: 100%;
}

.play--games__content {
  width: 35%;
  margin-top: 25px;
}

.play--games-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

.play--games-title-highlight-1 {
  color: rgb(223, 76, 193);
}

.play--games-title-highlight-2 {
  color: rgb(190, 80, 210);
}

.play--games-description {
  width: 100%;
  color: rgb(83, 76, 100);
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
}
/* play--instantly end */

/* carrier-section start */
.carrier-section {
  width: 100%;
  background-color: rgb(255, 85, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.carrier__content {
  width: 55%;
  padding: 60px;
}

.carrier__content-title {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
}

.carrier__content-description {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 10px;
}

.carrier__job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.carrier__job p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  cursor: pointer;
}

.carrier__position-btn {
  width: 220px;
  height: 50px;
  padding: 13px 24px;
  border-radius: 48px;
  border: none;
  background: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}

.carrier__image {
  width: 45%;
  height: 100%;
}

.carrier__image img {
  width: 100%;
}
/* carrier-section end */

/* main container starts ends */
